@model AbendLog.Models.UploadFile
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_LayoutAbend.cshtml";
}
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    function Download() {
        window.location.href = '/Migration/DownloadAttachment'
    }
    $(document).ready(function () {
        $("#btnUpload").click(function () {
            if ($("#file").val() == '') {
                alert('Please select the file')
                return false;
            }
        });
    });

   
</script>
<br />
@using (Html.BeginForm("Upload", "Migration", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload Document</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-offset col-md-2">
                      File Name:  <font color="red">*</font> 
                    </div>
                    <div class="form-group col-md-offset col-md-4">
                        <input type="file" id="file" name="file" class="form-control" />
                    </div>
                    <div class="form-group col-md-offset col-md-2">
                        <input type="submit" value="Upload" id="btnUpload" class="btn btn-primary" />
                    </div>
                    <div class="form-group col-md-offset col-md-4"><input type="button" onclick="Download()" value="Template Download" id="btnDownload" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}