@using AbendLog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Abend Log";
}

<link href="~/Content/index.css" rel="stylesheet" />

<script>
    // Get the modal
    var modal = document.getElementById('id01');
    var modalSignIn = document.getElementById('id02');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    window.onclick = function (event) {
        if (event.target == modalSignIn) {
            modalSignIn.style.display = "none";
        }
    }
</script>

<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    @using (Html.BeginForm("Register", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "modal-content", role = "form" }))
    {
        @Html.AntiForgeryToken()
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <label for="Name"><b>Name<span style="color:red;">*</span></b></label>
            </div>
            <div class="col-lg-7">
                <input type="text" placeholder="Enter Name" name="Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="LanID"><b>User Id(LANID)<span style="color:red;">*</span></b></label>
            </div>
            <div class="col-lg-7">
                <input type="text" placeholder="Enter User Id(LANID)" name="LanID" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="Email"><b>Email<span style="color:red;">*</span></b></label>
            </div>
            <div class="col-lg-7">
                <input type="text" placeholder="Enter Email" name="Email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="Password"><b>Password<span style="color:red;">*</span></b></label>
            </div>
            <div class="col-lg-7">
                <input type="password" placeholder="Enter Password" name="Password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="psw-repeat"><b>Confirm Password<span style="color:red;">*</span></b></label>
            </div>
            <div class="col-lg-7">
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            </div>
        </div>
        <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
    }
    </div>

<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "modal-content", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <h1>Sign In</h1>
            <hr>
            <div class="row">
                <div class="col-lg-5">
                    <label for="Email"><b>User Id(LANID)<span style="color:red;">*</span></b> </label>
                </div>
                <div class="col-lg-7">
                    <input type="text" placeholder="Enter User Id(LANID)" name="Email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <label for="Password"><b>Password<span style="color:red;">*</span></b></label>
                </div>
                <div class="col-lg-7">
                    <input type="password" placeholder="Enter Password" name="Password" required>
                </div>
            </div>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign In</button>
            </div>
        </div>
    }
</div>

<div class="jumbotron">
    <h2>ASP AMS Abend Log</h2>
    <p class="lead">Abend Log ASP AMS is a abend management and repository for all the incident reported on the Mainframe system.</p>
</div>
